<div id="lb-corp-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-indicators">
        {% for slide in page.header.slides %}
        {% set indicatorClass = loop.index == 1 ? 'active' : '' %}
        <button type="button" data-bs-target="#lb-corp-carousel" data-bs-slide-to="{{ loop.index - 1 }}"
            class="{{ indicatorClass }}" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
        {% endfor %}
    </div>

    <div class="carousel-inner">
        {% for slide in page.header.slides %}
        {% set slideClass = loop.index == 1 ? 'active' : 'item' %}
        <div class="carousel-item {{ slideClass }}">
            <img src="{{ page.media.images[slide.background_image].url|e }}" class="d-block w-100"
                alt="{{slide.background_image_description}}">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ slide.heading|raw }}</h5>
                <p>{{ slide.description|raw }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#lb-corp-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#lb-corp-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>