{% spaceless %}
{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
        {% if p.children.visible.count > 0 %}
            <li class="nav-item dropdown">
                <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle {{ current_page }}">{{ p.menu }}
                <span><i class="fa fa-angle-down"></i></span></a>

                    {% if p.children.visible.count > 0 %}
                    <ul class="dropdown-menu">
                    {% for dropdownHeader in p.children.visible %}
                        <li>
                            <ul class="col-sm-{{ (12 / p.children.visible.count)|round }}">
                            {% if dropdownHeader.children.visible.count > 0 %}
                            <li class="dropdown-header">{{ dropdownHeader.menu }}</li>
                            {% for dropdownItem in dropdownHeader.children.visible %}
                            <li>
                                <a href="{{ dropdownItem.url }}">{{ dropdownItem.menu }}</a>
                            </li>
                            {% endfor %}
                            {% endif %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link {{ current_page }}" aria-current="page" href="{{ p.url }}">{{ p.menu }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% endspaceless %}

<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    {% if logo != '' %}
        <a class="navbar-brand" href="{{ base_url == '' ? '/' : base_url }}">
            <img src="{{ url('theme://img/' ~ logo) }}" alt="">
        </a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {{ _self.loop(pages) }}
      </ul>
    </div>
  </div>
</nav>
